TOGETHER_AI_API_KEY=

AWS_POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

MONGODB_URL=
MONGDB_TIMENEST_DN_NAME=

chroma_client_url=
embedding_client_url=
chroma_model=

MAILGUN_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SECRET_KEY=
REDIRECT_URL=
FRONTEND_URL=
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

REDIS_URL=
REDIS_PORT=
REDIS_PASSWORD=

FLYCTL_ACCESS_TOKEN=
GITHUB_ACCESS_TOKEN=